<% @page_title="New Section " %>

<%= link_to("<< Back to List", {:action => 'index', :page_id => @page.id}, :class => 'back-link') %>

<div class="col-md-8">
  <h2>Create Section</h2>

  <%= form_for(:section, :url => {:action => 'create', :page_id => @page.id}) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Create Section", :class => "btn btn-success") %>
    </div>

  <% end %>
</div>
<div class="col-md-4" id="help">
  HELP - Sections </br></br>
 	1. <strong>Bold:</strong>	</br>
	&lt;strong&gt; Text here &lt;/strong&gt; </br></br>
	2. <em>Italics</em> :</br>
	&lt;em&gt; Text here &lt;/em&gt; </br></br>
	3. <a href="#">Link:</a></br>
	&lt;a href="link here"&gt; Text here &lt;/a&gt; </br></br>	
	4. <strong>Line Break</strong> :</br>
	&lt;/br&gt;</br></br>
	5. <strong>Paragraph</strong> :</br>
	&lt;p&gt; Content of a paragraph &lt;/p&gt; </br></br>
 	6. <strong>Lists :</strong> </br>
    &lt;ul&gt;</br>
      &nbsp;&nbsp;&nbsp;&lt;li&gt; list-item 1 &lt;/li&gt;</br>
      &nbsp;&nbsp;&nbsp;&lt;li&gt; list-item 2 &lt;/li&gt;</br>
      &nbsp;&nbsp;&nbsp;&lt;li&gt; list-item 3 &lt;/li&gt;</br>
      &nbsp;&nbsp;&nbsp;&lt;li&gt; list-item 4 &lt;/li&gt;</br>
  &lt;/ul&gt;</br></br>
  7. <strong>Tables :</strong>  </br>
    &lt;table class="table table-hover"&gt;</br>
      &nbsp;&nbsp;&nbsp;&lt;tr&gt; &lt;th&gt; head1 &lt;/th&gt; &lt;th&gt; head2 &lt;/th&gt; &lt;/tr&gt;</br>
      &nbsp;&nbsp;&nbsp;&lt;tr&gt; &lt;td&gt; data 1,1 &lt;/td&gt; &lt;td&gt; data 2,1 &lt;/td&gt; &lt;/tr&gt;</br>
      &nbsp;&nbsp;&nbsp;&lt;tr&gt; &lt;td&gt; data 1,2 &lt;/td&gt; &lt;td&gt; data 2,2 &lt;/td&gt; &lt;/tr&gt;</br>
  &lt;/table&gt;</br></br>
	<table class="table table-hover">
    	<tr> <th>head1</th> <th>head2</th> </tr>
    	<tr> <td>data 1,1</td> <td>data 2,1</td> </tr>
    	<tr> <td>data 1,2</td> <td>data 2,2</td> </tr>
	</table>
	
</div>
