@import "bootstrap"; 
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require public
 *= require admin
 *= require_tree .
 */

  #page_navigation{
    margin: 0 8% 0 6%;
  }
  #main{
    margin: 0 3% 1% 6%;
    border-left: 1px solid #E7E7E7;
  }
  #content{
    padding: 30px;
    text-align: justify;
  }
  #side_navigation{
    margin-top: 10px;
    padding-left: 3%;
  }
  #side_navigation li{
    border-left: solid 1.5px #E7E7E7;
    list-style-type: none;
  }
  #side_navigation li :hover{
    border-left: solid 2px #5C88AE;
    background-color: transparent;
  }
  #footer{
    color: white;
    padding:2px 0 0 8%;
  }
  .navbar{
    font-weight: bold;
    border-radius: 0;
  }
  .page_image{
    margin: -2% 0 0 -3%;
  }