<div class="container">
	<div id="main_photo" class="col-md-12">
		<%= image_tag image_path('photo.JPG') %>
	</div>
	<div class="col-md-12" id="home_content">
		<h1>Welcome</h1>
		<p>Home Page</p>
	</div>
</div>

