<% if params[:id].present? %>
<ul id="side_nav" data-spy="affix" class="nav bs-docs-sidenav">
  <% @page.sections.visible.sorted.each do |section| %>
    <li><a href=<%= "#section#{section.id}" %>><%= section.name %></a></li>
  <% end %>
</ul>
<% end %>